
@keyframes hoverBotao{
    from{
        background:linear-gradient(120deg,  #000 , #39A9A9 90% 100%);
    }
    to{
        background:linear-gradient(120deg,  #39A9A9 10% 30%, #000);
    }
}


.animaParaDireita{
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
    animation: paraDireita 0.7s 0.7s forwards;
}

.animaParaCima{
    animation: paraCima 0.7s 0.7s forwards;
}

/* Animações de entrada */
@keyframes paraCima{
    to{
        opacity: 1;
        transform: translate3d(0, 0px, 0);
    }
}

@keyframes paraDireita{
    to{
        opacity: 1;
        transform: translate3d(0px, 0, 0);
    }
}