
.botao-comprar:hover, .botao-comprar:focus{
    animation: hoverBotao 0.1s 0.5s;
    transition: ease-out 0.5s;
    box-shadow: 0px 0px 0px 2px #39A9A9 inset, 0px 0px 1px 3px #9FF6ED;
}

@keyframes hoverBotao{
    from{
        background:linear-gradient(120deg,  #000 , #39A9A9 90% 100%);
    }
    to{
        background:linear-gradient(120deg,  #39A9A9 10% 30%, #000);
    }
}

#formacao .item-formacao:hover{
    border: 3px solid transparent inset;

    background: linear-gradient(#012330,#012330),
    linear-gradient(to bottom, #1B8585, #72DEDB) border-box;
    -webkit-background-clip: padding-box, border-box;
    background-clip: padding-box, border-box;

    box-shadow: 0 0 8px #0C595E;
}

#formacao .item-formacao a:hover{
    animation: none;
    background:linear-gradient(to bottom right, #012330, #0C595E);
    box-shadow: 0px 0px 0px 1px #39A9A9 inset;
    color: #FAF3FF;
}

.animaParaDireita{
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
    animation: paraDireita 0.7s 0.7s forwards;
}

.animaParaCima{
    animation: paraCima 0.7s 0.7s forwards;
}

/* Animações de entrada */
@keyframes paraCima{
    to{
        opacity: 1;
        transform: translate3d(0, 0px, 0);
    }
}

@keyframes paraDireita{
    to{
        opacity: 1;
        transform: translate3d(0px, 0, 0);
    }
}