body,h1,h2,h3,h4,h5,p,ul,span{
    margin: 0;
    padding: 0;
}

html, body {
    overflow-x: hidden;
}

body{
    position: relative;
    top:0;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    display: inline-block;
    outline: none;
}

img{
    display: block;
    max-width: 100%;
}

.bg-nav{
    display: block; 
}

header .container-header{
    position: relative;
}

/*Estilos Gerais de Orientação e Tamanho dos containers*/
header, header ul, header .container-header, #inicio{
    display: flex;
    justify-content: space-between;
}
header .container-header, #inicio{
    max-width: 1152px;
    width: 80%;
    align-items: center;
}

/*Estilo Geral de Botão Comprar*/
.botao-comprar{ 
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-weight: 600;
    background-color: #000;
    color: #FAF3FF;
    box-sizing: border-box;
    text-align: center;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 0.875rem;
    letter-spacing: 0.5px;
    display: inline-block;
}

header .botao-comprar{
    font-size: 0.75rem !important;
}
/*ESPECIFICO HEADER*/
header{
    height: 40px;
    width: 100%;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #E5E5E5;
    position: fixed;
    z-index: 4;
    top: 0;
    background-color: #fff;
}

header img{
    max-width: 82px;
}
header nav ul li a{
    font-size: 0.75rem;
    font-weight: 500;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    color: #000;
    transition: 0.5s;
}
header nav ul li a:hover, header nav ul li a:focus{
    color: #39A9A9;
    font-weight: 600;
}
header nav ul{
    min-width: 300px;
}

#botao-menu{
    display: none;
    position: relative;
    z-index: 10;
    width: 50px;
    height: 30px;
    background-color: #fff;
    border: 1px solid #dcdcdc;
    border-radius: 4px;
}

#botao-menu div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#botao-menu span{
    display: inline-block;
    width: 20px;
    height: 3px;
    background-color: black;
    border-radius: 2px;
}
#botao-menu span:nth-child(1){
    margin-bottom: 8px;
}
/*Estilos Gerais Titulos*/
#inicio h1, #sobre h2, #formacao h2, 
#formacao .container-tutores .tutores-infos h3,
#formacao .garantia-emprego h3,
#contato h3, #contato h4{
    font-family: 'Red Hat Text', Arial, Helvetica, sans-serif;
    font-weight: 600;
}


/* ESPECIFICO INICIO*/
#inicio{
    margin: 100px auto;
    margin-bottom: 100px;
}
#inicio .container-img{
    border-radius: 40px;
    flex-basis: 400px;

    /* animações */
    animation: paraCima 0.6s 0.5s forwards ease-out;
    opacity: 0;
    transform: translate3d(0px,30px,0px);
}
#inicio .container-img p{
    width: 100%;
    text-align: center;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-style: italic;
    font-weight: 300;
    color: #333333;
    font-size: 1rem;
    margin-top: 20px;
}
#inicio .container-img img{
    border-radius: 40px;
    width: 100%;
    /* max-height: 100%; */
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
#inicio h1{
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.3;
    letter-spacing: 1;
    max-width: 28ch;
    margin-bottom: 14px;
    padding-right: 15px;
/* animações */
    animation: paraCima 0.6s 0.5s forwards ease-out;
    opacity: 0;
    transform: translate3d(0px,30px,0px);
}
#inicio h1 span, #inicio .inicio-infos span{
    color: #39A9A9;
}

#inicio .inicio-infos{
    margin-bottom: 50px;
}
#inicio .inicio-infos p{
    font-size: 1rem;
    color: #333333;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    margin-bottom: 32px;
    max-width: 80%;
/* animações */
    animation: paraCima 0.6s 0.9s forwards ease-out;
    opacity: 0;
}

#inicio .inicio-infos span{
    font-weight: 500;
}


.botao-comprar:hover, .botao-comprar:focus{
    animation: hoverBotao 0.1s 0.5s;
    transition: ease-out 0.5s;
    box-shadow: 0px 0px 0px 2px #39A9A9 inset, 0px 0px 1px 3px #9FF6ED;
}
/* REVISEI ESTILOS ATÉ AQUI */
/*SOBRE*/
#sobre{
    max-width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 300px 1fr;
    margin-bottom: 100px;
}

/* #sobre img{
    grid-column: 1;
    margin-top: 32px;
} */
.container-img-decor{
    grid-column: 1;
    margin-top: 32px;
}


#sobre .quem-somos-infos p{
    margin-bottom: 30px;
    font-size: 1.125rem;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    color: #333333;
    line-height: 1.5;
}
#sobre .quem-somos-infos p span{
    color: #39A9A9;
    font-weight: 500;
}

/*FORMAÇÃO*/
#formacao{
    margin-bottom: 150px;
    width: 100%;
}

#formacao h2{
    text-align: center;
    max-width: 60%;
    margin: 0 auto;
    margin-bottom: 32px;
}

.gradiente{
    /* Primeiro passo: definir um degradê como fundo */
background-image: linear-gradient(to right,#1B8585, #72DEDB);

/* Segundo passo: apagar do fundo tudo que não estiver imediatamente atrás de texto */
background-clip: text;
-webkit-background-clip: text; /* Alguns navegadores precisam do prefixo */

/* Terceiro passo: apagar o texto, deixando apenas o fundo atrás dele */
-webkit-text-fill-color: transparent;

/* Cor que contraste com o degradê, caso o navegador não suporte `background-clip: text` */
color: black;
}

#formacao .forma-bg{
    max-width: 100%;
    background-color: #012330;
    display: flex;
    justify-content: center;
    position: relative;  
    z-index: 2;
}
#formacao .container-formacoes{
    display: grid;
    align-items: center;
    justify-items: center;
    gap: 60px  ;
    grid-template-columns: 500px 500px;
    color: #E5E5E5;
    padding: 60px 0;
}

#formacao .container-formacoes h3{
    color: #fff;
    font-size: 1.125rem;
    font-family: 'Red Hat Text', Arial, Helvetica, sans-serif;
    font-weight: 600;
}
#formacao .container-formacoes .titulo-forma{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 0px 30px 0px ;
}

#formacao .container-formacoes .titulo-forma span{
    font-family: 'Anta', Arial, Helvetica, sans-serif;
    color: #4EB9B7;
    font-size: 2rem;
    margin-left: 10px;
}

#formacao .item-formacao{
    /* max-width: 600px;
    box-sizing: border-box; */
    /*border: 2px solid transparent; Borda invisível inicial */
     /*border-image: linear-gradient(to bottom, #0C595E, #56C8C8); O gradiente */
     /*border-image-slice: 1; Define uma única região de imagem para a borda */
    /* border-radius: 0px 0px 20px 0px; */

    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    width: 500px;
    box-sizing: border-box;
    border: 2px solid transparent;/*cria a borda tranparente*/
    border-radius: 10px 10px 50px 10px;

    /*primeiro gradiente impede que o gradiente da borda seja aplicado também ao background*/
    background: linear-gradient(#012330,#012330),
    linear-gradient(to bottom, #0C595E, #56C8C8) border-box;
    -webkit-background-clip: padding-box, border-box;
    background-clip: padding-box, border-box;
}

#formacao .item-formacao:last-child{
    grid-column: 1/-1;
    justify-content: center;
    align-content: center;
}
#formacao .container-formacoes .lista{
    display: grid;
    grid-template-columns: 170px 170px;
    margin-left: 20px;
    margin-bottom: 60px;
    gap:20px 16px;
    height: 140px;
    box-sizing: border-box;
}
#formacao .container-formacoes .lista li{
    min-height: 30px;
    max-width: 150px;
    font-size: 0.875rem;
    font-family: 'Anta', Arial, Helvetica, sans-serif;
    position: relative;
    justify-content: center;
    word-break: break-word;
}
#formacao .container-formacoes .lista li::before{
    content: '';
    display: inline-block;
    width: 8px;
    height: 8px;
    background-color: #56C8C8;
    border-radius: 2px;
    position: absolute;
    top:4px;
    left: -14px;
}

#formacao .container-formacoes .item-formacao p{
    max-width: 80%;
    text-align: center;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    margin-bottom: 20px;
    font-size: 0.875rem;
}

#formacao .container-formacoes .item-formacao p span{
    color: #39A9A9;
    font-weight: 700;
}

#formacao .item-formacao a{
    background-color: #FAF3FF;
    color: #033040;
    font-weight: 700;
    padding: 12px 80px;
    margin-bottom: 30px;
}

#formacao .container-tutores{
    display: flex;
    justify-content: center;  
    align-items: center;
    padding: 150px 0;
    max-width: 95%;
    margin: 0 auto;
}
#formacao .container-tutores .container-img{
    width: 550px;
    max-width: 50%;
}
.container-tutores .container-img img{
    border-radius: 40px;
    max-height: 550px;
}
#formacao .container-tutores .tutores-infos h3{
    font-size: 1.5rem;
    color: #39A9A9;
    margin-bottom: 16px; 
}
#formacao .container-tutores .tutores-infos p{
    font-size: 0.75rem;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-weight: 400;
    color: #333333;
    margin-bottom: 40px;
}
#formacao .container-tutores .tutores-infos .tutores-vantagens{
    max-width: 80%;
    margin-left: 12px;
    margin-bottom: 40px;
}
.container-tutores .tutores-infos .tutores-vantagens li{
    position: relative;
    font-size: 0.75rem;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-weight: 500;
    color: #033040;
}
.container-tutores .tutores-infos .tutores-vantagens li::before{
    content:'';
    position:absolute;
    width: 8px;
    height: 8px;
    top: 2px;
    left: -12px;
    background-color: #56C8C8;
    border-radius: 2px;
}
.container-tutores .tutores-infos .tutores-vantagens li:not(:last-child){
    margin-bottom: 16px;
}

#formacao .tutores-infos {
    margin-right: 80px;
    max-width: 350px;
    position: relative;  
}

#formacao .bloco-anima{
    opacity: 0;
    transform: translate3d(-30px, 0, 0);
}
#formacao .tutores-infos a{
    padding: 12px 30px;
}
#formacao .botao-comprar.ultimo{
    display: none;
}
#formacao .container-tutores .tutores-infos .dec-barramento-top{
    position: absolute;
    left: 0;
    bottom: 320px;
    max-width: 140px;
}

#formacao .container-tutores .tutores-infos .dec-barramento-bottom{
    position: absolute;
    left: 0;
    top: 320px;
    max-width: 140px;
    max-height: 350px;
    overflow: hidden;
}

#formacao .garantia-emprego{
    display: grid;
    grid-template-columns: 350px 1fr;
    width: 980px;
    max-width: 90%;
    margin: 0 auto;

    opacity: 0;
    transform: translate3d(0, 30px, 0);
}

#formacao .garantia-emprego div{
    grid-column: 2;
}
#formacao .garantia-emprego h3{
    font-size: 1.25rem;
    margin-bottom: 16px; 
}
#formacao .garantia-emprego h3 span{
    color: #39A9A9 ;
}
#formacao .garantia-emprego p{
    font-size: 1rem;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    color: #333333;
    max-width: 100%;
}
#formacao .garantia-emprego div p:last-child{
    font-style: italic;
    font-size: 0.875rem;
    margin-top: 30px;
    font-weight: 300;
} 







#formacao .item-formacao:hover{
    border: 3px solid transparent inset;

    background: linear-gradient(#012330,#012330),
    linear-gradient(to bottom, #1B8585, #72DEDB) border-box;
    -webkit-background-clip: padding-box, border-box;
    background-clip: padding-box, border-box;

    box-shadow: 0 0 8px #0C595E;
}

#formacao .item-formacao a:hover{
    animation: none;
    background:linear-gradient(to bottom right, #012330, #0C595E);
    box-shadow: 0px 0px 0px 1px #39A9A9 inset;
    color: #FAF3FF;
}







#contato{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1A1A1A;
    color: #E5E5E5;
}

#contato h3, #contato h4{
    position: relative;
    font-size: 1.25rem;
    text-align: center;
    color: #FFFFFF;
}

#contato h4{
    margin-top: 8px;
    font-size: 0.625rem;
    /* font-weight: 200; */
    color: #E5E5E5;
}
#contato .redes-sociais{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 720px;
    max-width: 90%;
    margin-top: 60px;
}
#contato .links a{
    max-width: 25px;
}


/* #contato div a:first-child{
    margin-right: 8px;
} */

#contato .contato-infos{
    height: 400px;
    min-width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px;
    margin-top: 80px;
    font-size: 0.75rem;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
}


#contato .contato-infos h5{
    font-weight: 600;
    font-size: 0.875rem;
    margin-bottom: 32px;
    color: #FFFFFF;
}
#contato .contato-infos a{
    color: #1B8585;
}
#contato .contato-infos a:hover, #contato .contato-infos a:focus{
    color: #56C8C8;
}
/* #contato .contato-infos a:visited{
    color: #DCFFFA;
} */
#contato .contato-infos div:nth-child(1) li:not(:last-child){
    margin-bottom: 14px;
}

#contato .contato-infos div:nth-child(3) li:not(:last-child){
    margin-bottom: 24px;
}

#contato .contato-infos div:nth-child(3) p{
    margin-bottom: 8px;
}
#contato .contato-infos div span{
    display: inline-block;
    margin-bottom: 12px;
    
}
#contato .contato-infos div span img{
    width: 200px;
}
